/* Warden.css */
.warden-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.warden-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.chart-container {
  width: 80%;
  height: 400px; /* Gives a consistent height to all charts */
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.week-selector-container {
  text-align: center;
  margin-bottom: 20px;
}

.week-selector {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px;
}



.menu-container {
  margin-top: 30px;
  text-align: center;
}

.menu-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.menu-table th, .menu-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.menu-table th {
  background-color: #4CAF50;
  color: white;
}

.menu-table td input {
  width: 80%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.menu-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.menu-table tr:hover {
  background-color: #ddd;
}

.transfer-section {
  margin-top: 50px;
  text-align: center;
}

.transfer-section textarea {
  width: 80%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.transfer-section button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.transfer-section button:hover {
  background-color: #45a049;
}
